<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>133692830417-fe5gqien2he3t17os7pncdtfrqhpqjrk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.133692830417-fe5gqien2he3t17os7pncdtfrqhpqjrk</string>
	<key>API_KEY</key>
	<string>AIzaSyCpZax746n_6O8sRB_wMuMksQN_KugmAyM</string>
	<key>GCM_SENDER_ID</key>
	<string>133692830417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bera</string>
	<key>PROJECT_ID</key>
	<string>bera-17ced</string>
	<key>STORAGE_BUCKET</key>
	<string>bera-17ced.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:133692830417:ios:3075f74b56b151a12a8bf0</string>
	<key>DATABASE_URL</key>
	<string>https://bera-17ced.firebaseio.com</string>
</dict>
</plist>